@import '~antd/dist/antd.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.App {
  height: 100vh;
}

.content {
  padding: 1rem;
}

/* Scrollbar setting */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #121212;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Ant Design Custom */
.ant-layout-header {
  background-color: #000;
  padding: 0 24px;
}

.ant-drawer-content,
.ant-drawer-header,
.ant-menu-dark.ant-menu-inline {
  background-color: #000;
}

.ant-drawer-close .anticon-close {
  color: #fff;
  background-color: #000;
  padding-top: 8px;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
  .ant-menu-item-selected.menu-selected-color {
  background-color: #1db954;
}

.ant-menu-item.menu-selected-color:first-of-type {
  margin-top: 16px;
}
